<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AuthenticateLogin</servlet-name>
        <servlet-class>com.connect.security.AuthenticateLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterNewUser</servlet-name>
        <servlet-class>com.connect.security.RegisterNewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartNewExam</servlet-name>
        <servlet-class>com.connect.security.StartNewExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RunExam</servlet-name>
        <servlet-class>com.connect.security.RunExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterNewExamination</servlet-name>
        <servlet-class>com.connect.security.RegisterNewExamination</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDownloadableTestReport</servlet-name>
        <servlet-class>com.connect.security.CreateDownloadableTestReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitExamination</servlet-name>
        <servlet-class>com.connect.security.submitExamination</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessQuestion</servlet-name>
        <servlet-class>com.connect.security.ProcessQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveExam</servlet-name>
        <servlet-class>com.connect.security.RemoveExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUser</servlet-name>
        <servlet-class>com.connect.security.RemoveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserPrivilage</servlet-name>
        <servlet-class>com.connect.security.ChangeUserPrivilage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticateLogin</servlet-name>
        <url-pattern>/AuthenticateLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterNewUser</servlet-name>
        <url-pattern>/RegisterNewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartNewExam</servlet-name>
        <url-pattern>/StartNewExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RunExam</servlet-name>
        <url-pattern>/RunExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterNewExamination</servlet-name>
        <url-pattern>/RegisterNewExamination</url-pattern>
        <url-pattern>*.pdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDownloadableTestReport</servlet-name>
        <url-pattern>/CreateDownloadableTestReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitExamination</servlet-name>
        <url-pattern>/submitExamination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessQuestion</servlet-name>
        <url-pattern>/ProcessQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveExam</servlet-name>
        <url-pattern>/RemoveExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUser</servlet-name>
        <url-pattern>/RemoveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserPrivilage</servlet-name>
        <url-pattern>/ChangeUserPrivilage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
